<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>HomePage</title>

    <br>    <br>     <br>

    <h1>Welcome to Inventory Site</h1> <br> <br>

    <a href="{% url 'building_create' %}">Create Building </a> <br>
    <a href="{% url 'house_create' %}">Create House</a> <br>
    <a href="{% url 'item_create' %}">Create Item</a> <br>
    <a href="{% url 'building_update' %}">Update Building</a> <br>
    <a href="{% url 'house_update' %}">Update House</a> <br>
    <a href="{% url 'item_update' %}">Update Item</a> <br>
    <a href="{% url 'building_delete' %}">Delete Building</a> <br>
    <a href="{% url 'house_delete' %}">Delete House</a> <br>
    <a href="{% url 'item_delete' %}" >Delete Item</a> <br>
    <a href="{% url 'building_list' %}">List Buildings</a> <br>
    <a href="{% url 'house_list' %}">List Houses</a> <br>
    <a href="{% url 'item_list' %}">List Items</a> <br>

    <br>    <br>    <br>

</head>
<body>

</body>
</html>