<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

{% load static %}

<html>
<head>
    <br>
    <br>
    <br>
    <h1>Item List</h1>
    <br>
    <br>
    <br>

</head>

<body>


<table border="2">
    <thead>
    <tr>
        <th> ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>HouseNumber</th>
    </tr>
    </thead>
    <tbody>

{% for item in object_list %}
<tr>
<td>{{ item.id }}</td>
<td>{{ item.item_name }}</td>
<td>{{ item.item_price }}</td>
<td>{{ item.house_number }}</td>

</tr>
{% endfor %}
</tbody>
</table>